<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rohan.chatapp">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:icon="@mipmap/ic_app_icon"
        android:label="Hello Chat"
        
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatApp">
        <activity android:name=".messages.ChatLogActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".messages.LatestMessagesActivity" />
        </activity>
        <activity android:name=".NewMessageActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".messages.LatestMessagesActivity" />
        </activity>
        <activity android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".messages.LatestMessagesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Authentication.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Authentication.RegisterActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>